<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2" >
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/identity-providers-federations">{{:: 'realm-identity-provider-federations' | translate}}</a></li>
        <li data-ng-show="identityProvidersFederation.internalId">{{identityProvidersFederation.alias}}</li>
        <li data-ng-show="!identityProvidersFederation.internalId">{{:: 'add-idp-federation' | translate}}</li>
    </ol>


    <ul class="nav nav-tabs">
        <li class="active"><a href="#/realms/{{realm.realm}}/identity-providers-federation/{{identityProvidersFederation.providerId}}/{{identityProvidersFederation.internalId}}">{{:: 'realm-identity-provider-federations' | translate}}</a></li>
        <li data-ng-show="identityProvidersFederation.internalId"><a href="#/realms/{{realm.realm}}/identity-providers-federation/{{identityProvidersFederation.providerId}}/{{identityProvidersFederation.internalId}}/{{identityProvidersFederation.alias}}/mappers">{{:: 'mappers' | translate}}</a></li>
    </ul>


    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageIdentityProviders">


		<fieldset>
			<legend uncollapsed>
				<span class="text">{{::'import-external-idp-federation-config' | translate}}</span>
				<kc-tooltip>{{::'import-external-idp-federation-config.tooltip' | translate}}</kc-tooltip>
			</legend>


			<div class="form-group">
				<label class="col-md-2 control-label" for="fromUrl"> <span
					class="required">*</span> {{:: 'import-from-url' | translate}}
				</label>
				<div class="col-md-6">
					<input class="form-control" id="fromUrl" type="text"
						ng-model="identityProvidersFederation.url">
				</div>
				<kc-tooltip>{{::'saml-federation.import-from-url.tooltip' | translate}}</kc-tooltip>
			</div>

			<div class="form-group clearfix">
				<label class="col-md-2 control-label" for="alias"><span
					class="required">*</span> {{:: 'alias' | translate}}</label>
				<div class="col-md-6">
					<input class="form-control" id="alias" type="text"
						ng-model="identityProvidersFederation.alias" required>
				</div>
				<kc-tooltip>{{:: 'saml-federation.alias.tooltip' |translate}}</kc-tooltip>
			</div>

			<div class="form-group clearfix">
				<label class="col-md-2 control-label" for="updateFrequencyInMins"><span
					class="required">*</span> {{::'saml-federation.update-frequency-in-mins' | translate}}</label>
				<div class="col-md-6">
					<input class="form-control" id="updateFrequencyInMins"
						type="number"
						ng-model="identityProvidersFederation.updateFrequencyInMins"
						required>
				</div>
				<kc-tooltip>{{::'saml-federation.update-frequency-in-mins.tooltip' | translate}}</kc-tooltip>
			</div>

			<div class="form-group clearfix" data-ng-show="identityProvidersFederation.internalId">
				<label class="col-md-2 control-label" for="lastMetadataRefreshTimestamp">{{::'last-updated' | translate}}</label>
				<div class="col-md-6">
					<input class="form-control" id="lastMetadataRefreshTimestamp" type="text"
						   ng-model="identityProvidersFederation.lastMetadataRefreshTimestamp | date : 'yyyy-MM-dd HH:mm:ss'"
						   readonly>
				</div>
				<kc-tooltip>{{:: 'last-updated.tooltip' |translate}}</kc-tooltip>
			</div>

			<div class="form-group clearfix" data-ng-show="identityProvidersFederation.internalId">
				<label class="col-md-2 control-label" for="validUntilTimestamp">{{::'valid-until' | translate}}</label>
				<div class="col-md-6">
					<input class="form-control" id="validUntilTimestamp" type="text"
						   ng-model="identityProvidersFederation.validUntilTimestamp | date : 'yyyy-MM-dd HH:mm:ss'"
						   readonly>
				</div>
				<kc-tooltip>{{:: 'valid-until.tooltip' |translate}}</kc-tooltip>
			</div>

			<div class="form-group" data-ng-show="identityProvidersFederation.internalId">
				<label class="col-md-2 control-label">{{:: 'endpoints' | translate}}</label>
				<div class="col-md-3">
					<a class="form-control" ng-href="{{callbackUrl}}{{identityProvidersFederation.alias}}/endpoint/descriptor" target="_blank">{{:: 'identity-provider.saml.protocol-endpoints.saml' | translate}}</a>
				</div>
				<div class="col-md-3">
					<a href data-ng-click="showXsltOverride = !showXsltOverride;">Override with XSLT</a>
				</div>
				<kc-tooltip>{{:: 'identity-provider.saml.protocol-endpoints.saml.tooltip' | translate}}</kc-tooltip>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label" for="syncMode">{{:: 'sync-mode' | translate}}</label>
				<div class="col-md-6">
					<div>
						<select class="form-control" id="syncMode"
								ng-model="identityProvidersFederation.config.syncMode"
								required>
							<option id="syncMode_import" name="syncMode" value="IMPORT">{{:: 'sync-mode.import' | translate}}</option>
							<option id="syncMode_force" name="syncMode" value="FORCE">{{:: 'sync-mode.force' | translate}}</option>
						</select>
					</div>
				</div>
				<kc-tooltip>{{:: 'sync-mode.federation.tooltip' | translate}}</kc-tooltip>
			</div>

			<div class="form-group clearfix">
				<label class="col-md-2 control-label" for="nameIDPolicyFormat">{{::	'nameid-policy-format' | translate}}</label>
				<div class="col-md-6">
					<select id="nameIDPolicyFormat"
						ng-model="identityProvidersFederation.config.nameIDPolicyFormat"
						ng-options="nameFormat.format as nameFormat.name for nameFormat in nameIdFormats">
					</select>
				</div>
				<kc-tooltip>{{:: 'nameid-policy-format.federation.tooltip' |	translate}}</kc-tooltip>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" for="samlPrincipals"><span class="required">*</span> {{::'saml.principals' | translate}}</label>
				<div class="col-sm-6"  id="samlPrincipals">
					<table class="table table-striped table-bordered">
						<thead>
						<tr>
							<th>{{:: 'saml.principal-type' | translate}}</th>
							<th>{{:: 'saml.principal-attribute.nameId' | translate}}</th>
							<th>{{:: 'actions' | translate}}</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="(i, item) in multiplePrincipals track by $index">
							<td> <select ng-model="multiplePrincipals[i].principalType"
										 ng-options="pType.type as pType.name for pType in principalTypes">
							</select>
							</td>
							<td>
								<input class="form-control" data-ng-hide="multiplePrincipals[i].principalType.endsWith('SUBJECT')"
									   ng-model="multiplePrincipals[i].principalAttribute">
								<select  ng-model="multiplePrincipals[i].nameIDPolicyFormat" data-ng-show="multiplePrincipals[i].principalType.endsWith('SUBJECT')"
										 ng-options="nameFormat.format as nameFormat.name for nameFormat in nameIdForPrincipal">
								</select>
							</td>
							<td>
								<button class="btn btn-primary" data-ng-click="removeMultiplePrincipal($index)">{{:: 'delete' | translate}}</button>
								<button class="btn btn-primary" data-ng-show="$index > 0 " data-ng-click="movePrincipalUp($index)">{{:: 'move.up' | translate}} <i class="fa fa-arrow-circle-up"></i></button>
							</td>
						</tr>
						<tr>
							<td>
								<select ng-model="newMultiplePrincipal.principalType"
										ng-options="pType.type as pType.name for pType in principalTypes">
								</select>
							</td>
							<td>
								<input ng-model="newMultiplePrincipal.principalAttribute" data-ng-hide="newMultiplePrincipal.principalType.endsWith('SUBJECT')" class="form-control" type="text" id="newPrincipalAttribute" />
								<select  ng-model="newMultiplePrincipal.nameIDPolicyFormat" data-ng-show="newMultiplePrincipal.principalType.endsWith('SUBJECT')"
										 ng-options="nameFormat.format as nameFormat.name for nameFormat in nameIdForPrincipal">
								</select>
							</td>
							<td>
								<button class="btn btn-primary"class="kc-action-cell" data-ng-click="addNewMultiplePrincipal()" data-ng-disabled="!newMultiplePrincipal.principalType.length">{{:: 'add' | translate}}</button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<kc-tooltip>{{:: 'saml.principals.tooltip'| translate}}</kc-tooltip>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label" for="postBindingAuthnRequest">{{::'http-post-binding-for-authn-request' | translate}}</label>
				<div class="col-md-6">
					<input
						ng-model="identityProvidersFederation.config.postBindingAuthnRequest"
						id="postBindingAuthnRequest" onoffswitchvalue
						on-text="{{:: 'onText' | translate}}"
						off-text="{{:: 'offText' | translate}}" />
				</div>
				<kc-tooltip>{{::'http-post-binding-for-authn-request.tooltip' | translate}}</kc-tooltip>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label" for="wantAuthnRequestsSigned">{{::'want-authn-requests-signed' | translate}}</label>
				<div class="col-md-6">
					<input
						ng-model="identityProvidersFederation.config.wantAuthnRequestsSigned"
						id="wantAuthnRequestsSigned" name="wantAuthnRequestsSigned"
						onoffswitchvalue on-text="{{:: 'onText' | translate}}"
						off-text="{{:: 'offText' | translate}}" />
				</div>
				<kc-tooltip>{{:: 'want-authn-requests-signed.tooltip' |translate}}</kc-tooltip>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" for="wantAssertionsSigned">{{::	'want-assertions-signed' | translate}}</label>
				<div class="col-md-6">
					<input
						ng-model="identityProvidersFederation.config.wantAssertionsSigned"
						id="wantAssertionsSigned" name="wantAssertionsSigned"
						onoffswitchvalue on-text="{{:: 'onText' | translate}}"
						off-text="{{:: 'offText' | translate}}" />
				</div>
				<kc-tooltip>{{:: 'want-assertions-signed.tooltip' |translate}}</kc-tooltip>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" for="wantAssertionsEncrypted">{{::'want-assertions-encrypted' | translate}}</label>
				<div class="col-md-6">
					<input
						ng-model="identityProvidersFederation.config.wantAssertionsEncrypted"
						id="wantAssertionsEncrypted" name="wantAssertionsEncrypted"
						onoffswitchvalue on-text="{{:: 'onText' | translate}}"
						off-text="{{:: 'offText' | translate}}" />
				</div>
				<kc-tooltip>{{:: 'want-assertions-encrypted.tooltip' |translate}}</kc-tooltip>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" for="attributeConsumingServiceIndex">{{:: 'identity-provider.saml.attribute-consuming-service-index' | translate}}</label>
				<div class="col-md-6">
					<input class="form-control" string-to-number type="number" min="0" max="65535" step="1" ng-model="identityProvidersFederation.config.attributeConsumingServiceIndex" id="attributeConsumingServiceIndex"/>
				</div>
				<kc-tooltip>{{:: 'identity-provider.saml.attribute-consuming-service-index.tooltip' | translate}}</kc-tooltip>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" for="attributeConsumingServiceName">{{:: 'identity-provider.saml.attribute-consuming-service-name' | translate}}</label>
				<div class="col-md-6">
					<input class="form-control" type="text" ng-model="identityProvidersFederation.config.attributeConsumingServiceName" id="attributeConsumingServiceName"/>
				</div>
				<kc-tooltip>{{:: 'identity-provider.saml.attribute-consuming-service-name.tooltip' | translate}}</kc-tooltip>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" for="signSpMetadata">{{:: 'identity-provider.saml.sign-sp-metadata' | translate}}</label>
				<div class="col-md-6">
					<input ng-model="identityProvidersFederation.config.signSpMetadata" id="signSpMetadata" onoffswitchvalue on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}" />
				</div>
				<kc-tooltip>{{:: 'identity-provider.saml.sign-sp-metadata.tooltip' | translate}}</kc-tooltip>
			</div>
	  </fieldset>
	  <fieldset>
            <legend collapsed><span class="text">{{:: 'allowlist' | translate}}</span>  <kc-tooltip>{{:: 'allowlist' | translate}}</kc-tooltip></legend>

			<div class="form-group">
				<label class="col-md-2 control-label" for="newEntityIdAllowList">{{::'list.entityIds' | translate}}</label>

				<div class="col-sm-6">
					<div class="input-group"
						ng-repeat="(i, item) in identityProvidersFederation.entityIdAllowList track by $index">
						<input class="form-control"
							ng-model="identityProvidersFederation.entityIdAllowList[i]">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"
								data-ng-click="deleteEntityIdAllowList($index)">
								<span class="fa fa-minus"></span>
							</button>
						</div>
					</div>

					<div class="input-group">
						<input class="form-control" ng-model="newEntityIdAllowList"
							id="newEntityIdAllowList">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"
								data-ng-click="newEntityIdAllowList.length > 0 && addEntityIdAllowList()">
								<span class="fa fa-plus"></span>
							</button>
						</div>
					</div>
				</div>

				<kc-tooltip>{{:: 'allowlist.entityIds.tooltip'| translate}}</kc-tooltip>
			</div>
			
			<div class="form-group">
				<label class="col-md-2 control-label" for="newRegistrationAuthorityAllowList">{{::'list.registrationAuthority' | translate}}</label>

				<div class="col-sm-6">
					<div class="input-group"
						ng-repeat="(i, item) in identityProvidersFederation.registrationAuthorityAllowList track by $index">
						<input class="form-control"
							ng-model="identityProvidersFederation.registrationAuthorityAllowList[i]">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"
								data-ng-click="deleteRegistrationAuthorityAllowList($index)">
								<span class="fa fa-minus"></span>
							</button>
						</div>
					</div>

					<div class="input-group">
						<input class="form-control" ng-model="newRegistrationAuthorityAllowList"
							id="newEntityIdAllowList">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"
								data-ng-click="newRegistrationAuthorityAllowList.length > 0 && addRegistrationAuthorityAllowList()">
								<span class="fa fa-plus"></span>
							</button>
						</div>
					</div>
				</div>

				<kc-tooltip>{{:: 'allowlist.registrationAuthority.tooltip'| translate}}</kc-tooltip>
			</div>
			<div class="form-group">
			<label class="col-md-2 control-label" for="categoryAllowList">{{::'entity.category' | translate}}</label>
			<div class="col-sm-6"  id="categoryAllowList">
			<table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{:: 'attribute.name' | translate}}</th>
                        <th>{{:: 'attribute.value' | translate}}</th>
                        <th>{{:: 'actions' | translate}}</th>
                   </tr>
                </thead>
                <tbody>
                     <tr ng-repeat="(key, value) in identityProvidersFederation.categoryAllowList | toOrderedMapSortedByKey">
                         <td>{{key}}</td>
					     <td>
								<div class="input-group"
									ng-repeat="(i, item) in identityProvidersFederation.categoryAllowList[key] track by $index">
									<input class="form-control"
										ng-model="identityProvidersFederation.categoryAllowList[key][i]">
									<div class="input-group-btn">
										<button class="btn btn-default" type="button"
											data-ng-click="deleteOldValueCategoryAllowList($index, key)">
											<span class="fa fa-minus"></span>
										</button>
									</div>
								</div>
							</td>
							<td> 
                                 <button class="btn btn-primary" data-ng-click="removeCategoryAllowList(key)">{{:: 'delete' | translate}}</button>
                            </td>
                    </tr>
                    <tr>
                         <td><input ng-model="newCategoryAllowList.key" class="form-control" type="text" id="newCategoryAllowListKey" /></td>
							<td>
								<div class="input-group"
									ng-repeat="(i, item) in newCategoryAllowList.value track by $index">
									<input class="form-control"
										ng-model="newCategoryAllowList.value[i]">
									<div class="input-group-btn">
										<button class="btn btn-default" type="button"
											data-ng-click="deleteNewValueCategoryAllowList($index)">
											<span class="fa fa-minus"></span>
										</button>
									</div>
								</div>
								<div class="input-group">
									<input class="form-control"
										ng-model="newCategoryAllowListValue"
										id="newCategoryAllowListValue">
									<div class="input-group-btn">
										<button class="btn btn-default" type="button" 
											data-ng-click="newCategoryAllowListValue.length > 0 && addCategoryAllowListValue()">
											<span class="fa fa-plus"></span>
										</button>
									</div>
								</div>
							</td>
							<td>
							    <button class="btn btn-primary"class="kc-action-cell" data-ng-click="addCategoryAllowList()" data-ng-disabled="!newCategoryAllowList.key.length || !newCategoryAllowList.value.length">{{:: 'add' | translate}}</button>
							</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <kc-tooltip>{{:: 'allowlist.category.tooltip'| translate}}</kc-tooltip>
            </div>
			


		</fieldset>
	  <fieldset>
            <legend collapsed><span class="text">{{:: 'denylist' | translate}}</span>  <kc-tooltip>{{:: 'denylist' | translate}}</kc-tooltip></legend>
			
			<div class="form-group">
				<label class="col-md-2 control-label" for="newEntityIdDenyList">{{::'list.entityIds' | translate}}</label>

				<div class="col-sm-6">
					<div class="input-group"
						ng-repeat="(i, item) in identityProvidersFederation.entityIdDenyList track by $index">
						<input class="form-control"
							ng-model="identityProvidersFederation.entityIdDenyList[i]">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"
								data-ng-click="deleteEntityIdDenyList($index)">
								<span class="fa fa-minus"></span>
							</button>
						</div>
					</div>

					<div class="input-group">
						<input class="form-control" ng-model="newEntityIdDenyList"
							id="newEntityIdDenyList">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"
								data-ng-click="newEntityIdDenyList.length > 0 && addEntityIdDenyList()">
								<span class="fa fa-plus"></span>
							</button>
						</div>
					</div>
				</div>

				<kc-tooltip>{{:: 'denylist.entityIds.tooltip'| translate}}</kc-tooltip>
			</div>
			
			<div class="form-group">
				<label class="col-md-2 control-label" for="newRegistrationAuthorityDenyList">{{::'list.registrationAuthority' | translate}}</label>

				<div class="col-sm-6">
					<div class="input-group"
						ng-repeat="(i, item) in identityProvidersFederation.registrationAuthorityDenyList track by $index">
						<input class="form-control"
							ng-model="identityProvidersFederation.registrationAuthorityDenyList[i]">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"
								data-ng-click="deleteRegistrationAuthorityDenyList($index)">
								<span class="fa fa-minus"></span>
							</button>
						</div>
					</div>

					<div class="input-group">
						<input class="form-control" ng-model="newRegistrationAuthorityDenyList"
							id="newRegistrationAuthorityDenyList">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"
								data-ng-click="newRegistrationAuthorityDenyList.length > 0 && addRegistrationAuthorityDenyList()">
								<span class="fa fa-plus"></span>
							</button>
						</div>
					</div>
				</div>

				<kc-tooltip>{{:: 'denylist.registrationAuthority.tooltip'| translate}}</kc-tooltip>
			</div>
			
			<div class="form-group">
			<label class="col-md-2 control-label" for="categoryDenyList">{{::'entity.category' | translate}}</label>
			<div class="col-sm-6"  id="categoryDenyList">
			<table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{:: 'attribute.name' | translate}}</th>
                        <th>{{:: 'attribute.value' | translate}}</th>
                        <th>{{:: 'actions' | translate}}</th>
                   </tr>
                </thead>
                <tbody>
                     <tr ng-repeat="(key, value) in identityProvidersFederation.categoryDenyList | toOrderedMapSortedByKey">
                         <td>{{key}}</td>
					     <td>
								<div class="input-group"
									ng-repeat="(i, item) in identityProvidersFederation.categoryDenyList[key] track by $index">
									<input class="form-control"
										ng-model="identityProvidersFederation.categoryDenyList[key][i]">
									<div class="input-group-btn">
										<button class="btn btn-default" type="button"
											data-ng-click="deleteOldValueCategoryDenyList($index, key)">
											<span class="fa fa-minus"></span>
										</button>
									</div>
								</div>
							</td>
							<td> 
                                 <button class="btn btn-primary" data-ng-click="removeCategoryDenyList(key)">{{:: 'delete' | translate}}</button>
                            </td>
                    </tr>
                    <tr>
                         <td><input ng-model="newCategoryDenyList.key" class="form-control" type="text" id="newCategoryDenyListKey" /></td>
							<td>
								<div class="input-group"
									ng-repeat="(i, item) in newCategoryDenyList.value track by $index">
									<input class="form-control"
										ng-model="newCategoryDenyList.value[i]">
									<div class="input-group-btn">
										<button class="btn btn-default" type="button"
											data-ng-click="deleteNewValueCategoryDenyList($index)">
											<span class="fa fa-minus"></span>
										</button>
									</div>
								</div>
								<div class="input-group">
									<input class="form-control"
										ng-model="newCategoryDenyListValue"
										id="newCategoryDenyListValue">
									<div class="input-group-btn">
										<button class="btn btn-default" type="button" 
											data-ng-click="newCategoryDenyListValue.length > 0 && addCategoryDenyListValue()">
											<span class="fa fa-plus"></span>
										</button>
									</div>
								</div>
							</td>
							<td>
							    <button class="btn btn-primary"class="kc-action-cell" data-ng-click="addCategoryDenyList()" data-ng-disabled="!newCategoryDenyList.key.length || !newCategoryDenyList.value.length">{{:: 'add' | translate}}</button>
							</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <kc-tooltip>{{:: 'denylist.category.tooltip'| translate}}</kc-tooltip>
            </div>         
		</fieldset>

		<div data-ng-show="identityProvidersFederation.internalId && showXsltOverride" style="position:fixed; z-index:1; padding-top:100px; left:0;	top:0; width:100vw; height:100vh; overflow:auto; background-color:rgb(0,0,0); background-color:rgba(0,0,0,0.4);">
			<div class="modal-content" style="background-color:#fefefe; margin:auto; padding:20px; border:1px solid #888; width:80%; height:80%;">
				<span class="close" data-ng-click="showXsltOverride = !showXsltOverride;">&times;</span>
				<textarea ng-model="identityProvidersFederation.config.xsltOverride" style="width:95%; height:95%; overflow-y:auto; resize: none;"></textarea>
			</div>
		</div>

		<div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button kc-save data-ng-disabled="changed==false">{{:: 'save' | translate}}</button>
                <button kc-cancel data-ng-click="cancel()">{{:: 'cancel' | translate}}</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>
