<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2" >
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/identity-providers-federations">{{:: 'realm-identity-provider-federations' | translate}}</a></li>
        <li data-ng-show="!newIdpFederation">{{identityProvidersFederation.alias}}</li>
        <li data-ng-show="newIdpFederation">{{:: 'add-idp-federation' | translate}}</li>
    </ol>


    <ul class="nav nav-tabs">
        <li class="active"><a href="#/realms/{{realm.realm}}/identity-providers-federation/{{identityProvidersFederation.providerId}}/{{identityProvidersFederation.internalId}}">{{:: 'realm-identity-provider-federations' | translate}}</a></li>
        <li data-ng-show="!newIdpFederation"><a href="#/realms/{{realm.realm}}/identity-providers-federation/{{identityProvidersFederation.providerId}}/{{identityProvidersFederation.internalId}}/export">{{:: 'identity-providers-federation-export' | translate}}</a></li>
    </ul>


    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageIdentityProviders">


		<fieldset>
			<legend uncollapsed>
				<span class="text">{{::'import-external-idp-federation-config' | translate}}</span>
				<kc-tooltip>{{::'import-external-idp-federation-config.tooltip' | translate}}</kc-tooltip>
			</legend>


			<div class="form-group">
				<label class="col-md-2 control-label" for="fromUrl"> <span
					class="required">*</span> {{:: 'import-from-url' | translate}}
				</label>
				<div class="col-md-6">
					<input class="form-control" id="fromUrl" type="text"
						ng-model="identityProvidersFederation.url">
				</div>
				<kc-tooltip>{{::'saml-federation.import-from-url.tooltip' | translate}}</kc-tooltip>
			</div>

			<div class="form-group clearfix">
				<label class="col-md-2 control-label" for="alias"><span
					class="required">*</span> {{:: 'alias' | translate}}</label>
				<div class="col-md-6">
					<input class="form-control" id="alias" type="text"
						ng-model="identityProvidersFederation.alias" required>
				</div>
				<kc-tooltip>{{:: 'saml-federation.alias.tooltip' |translate}}</kc-tooltip>
			</div>

			<div class="form-group clearfix">
				<label class="col-md-2 control-label" for="updateFrequencyInMins"><span
					class="required">*</span> {{::'saml-federation.update-frequency-in-mins' | translate}}</label>
				<div class="col-md-6">
					<input class="form-control" id="updateFrequencyInMins"
						type="number"
						ng-model="identityProvidersFederation.updateFrequencyInMins"
						required>
				</div>
				<kc-tooltip>{{::'saml-federation.update-frequency-in-mins.tooltip' | translate}}</kc-tooltip>
			</div>

			<div class="form-group clearfix">
				<label class="col-md-2 control-label" for="nameIDPolicyFormat">{{::	'nameid-policy-format' | translate}}</label>
				<div class="col-md-6">
					<select id="nameIDPolicyFormat"
						ng-model="identityProvidersFederation.config.nameIDPolicyFormat"
						ng-options="nameFormat.format as nameFormat.name for nameFormat in nameIdFormats">
					</select>
				</div>
				<kc-tooltip>{{:: 'nameid-policy-format.tooltip' |	translate}}</kc-tooltip>
			</div>
			<div class="form-group clearfix">
				<label class="col-md-2 control-label" for="principalType">{{::	'saml.principal-type' | translate}}</label>
				<div class="col-md-6">
					<select id="principalType"
						ng-model="identityProvidersFederation.config.principalType"
						ng-options="pType.type as pType.name for pType in principalTypes">
					</select>
				</div>
				<kc-tooltip>{{:: 'saml.principal-type.tooltip' |	translate}}</kc-tooltip>
			</div>
			<div class="form-group clearfix">
				<label class="col-md-2 control-label" for="principalAttribute">{{::'saml.principal-attribute' | translate}}</label>
				<div class="col-md-6">
					<input class="form-control" id="principalAttribute" type="text"
						ng-model="identityProvidersFederation.config.principalAttribute"
						required>
				</div>
				<kc-tooltip>{{:: 'saml.principal-attribute.tooltip' |translate}}</kc-tooltip>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label" for="postBindingAuthnRequest">{{::'http-post-binding-for-authn-request' | translate}}</label>
				<div class="col-md-6">
					<input
						ng-model="identityProvidersFederation.config.postBindingAuthnRequest"
						id="postBindingAuthnRequest" onoffswitchvalue
						on-text="{{:: 'onText' | translate}}"
						off-text="{{:: 'offText' | translate}}" />
				</div>
				<kc-tooltip>{{::'http-post-binding-for-authn-request.tooltip' | translate}}</kc-tooltip>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label" for="wantAuthnRequestsSigned">{{::'want-authn-requests-signed' | translate}}</label>
				<div class="col-md-6">
					<input
						ng-model="identityProvidersFederation.config.wantAuthnRequestsSigned"
						id="wantAuthnRequestsSigned" name="wantAuthnRequestsSigned"
						onoffswitchvalue on-text="{{:: 'onText' | translate}}"
						off-text="{{:: 'offText' | translate}}" />
				</div>
				<kc-tooltip>{{:: 'want-authn-requests-signed.tooltip' |translate}}</kc-tooltip>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" for="wantAssertionsSigned">{{::	'want-assertions-signed' | translate}}</label>
				<div class="col-md-6">
					<input
						ng-model="identityProvidersFederation.config.wantAssertionsSigned"
						id="wantAssertionsSigned" name="wantAssertionsSigned"
						onoffswitchvalue on-text="{{:: 'onText' | translate}}"
						off-text="{{:: 'offText' | translate}}" />
				</div>
				<kc-tooltip>{{:: 'want-assertions-signed.tooltip' |translate}}</kc-tooltip>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" for="wantAssertionsEncrypted">{{::'want-assertions-encrypted' | translate}}</label>
				<div class="col-md-6">
					<input
						ng-model="identityProvidersFederation.config.wantAssertionsEncrypted"
						id="wantAssertionsEncrypted" name="wantAssertionsEncrypted"
						onoffswitchvalue on-text="{{:: 'onText' | translate}}"
						off-text="{{:: 'offText' | translate}}" />
				</div>
				<kc-tooltip>{{:: 'want-assertions-encrypted.tooltip' |translate}}</kc-tooltip>
			</div>
	  </fieldset>
	  <fieldset>
            <legend collapsed><span class="text">{{:: 'whitelist' | translate}}</span>  <kc-tooltip>{{:: 'whitelist' | translate}}</kc-tooltip></legend>

			<div class="form-group">
				<label class="col-md-2 control-label" for="newEntityIdWhiteList">{{::'list.entityIds' | translate}}</label>

				<div class="col-sm-6">
					<div class="input-group"
						ng-repeat="(i, item) in identityProvidersFederation.entityIdWhiteList track by $index">
						<input class="form-control"
							ng-model="identityProvidersFederation.entityIdWhiteList[i]">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"
								data-ng-click="deleteEntityIdWhiteList($index)">
								<span class="fa fa-minus"></span>
							</button>
						</div>
					</div>

					<div class="input-group">
						<input class="form-control" ng-model="newEntityIdWhiteList"
							id="newEntityIdWhiteList">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"
								data-ng-click="newEntityIdWhiteList.length > 0 && addEntityIdWhiteList()">
								<span class="fa fa-plus"></span>
							</button>
						</div>
					</div>
				</div>

				<kc-tooltip>{{:: 'whitelist.entityIds.tooltip'| translate}}</kc-tooltip>
			</div>
			
			<div class="form-group">
				<label class="col-md-2 control-label" for="newRegistrationAuthorityWhiteList">{{::'list.registrationAuthority' | translate}}</label>

				<div class="col-sm-6">
					<div class="input-group"
						ng-repeat="(i, item) in identityProvidersFederation.registrationAuthorityWhiteList track by $index">
						<input class="form-control"
							ng-model="identityProvidersFederation.registrationAuthorityWhiteList[i]">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"
								data-ng-click="deleteRegistrationAuthorityWhiteList($index)">
								<span class="fa fa-minus"></span>
							</button>
						</div>
					</div>

					<div class="input-group">
						<input class="form-control" ng-model="newRegistrationAuthorityWhiteList"
							id="newEntityIdWhiteList">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"
								data-ng-click="newRegistrationAuthorityWhiteList.length > 0 && addRegistrationAuthorityWhiteList()">
								<span class="fa fa-plus"></span>
							</button>
						</div>
					</div>
				</div>

				<kc-tooltip>{{:: 'whitelist.registrationAuthority.tooltip'| translate}}</kc-tooltip>
			</div>
			<div class="form-group">
			<label class="col-md-2 control-label" for="categoryWhiteList">{{::'entity.category' | translate}}</label>
			<div class="col-sm-6"  id="categoryWhiteList">
			<table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{:: 'attribute.name' | translate}}</th>
                        <th>{{:: 'attribute.value' | translate}}</th>
                        <th>{{:: 'actions' | translate}}</th>
                   </tr>
                </thead>
                <tbody>
                     <tr ng-repeat="(key, value) in identityProvidersFederation.categoryWhiteList | toOrderedMapSortedByKey">
                         <td>{{key}}</td>
					     <td>
								<div class="input-group"
									ng-repeat="(i, item) in identityProvidersFederation.categoryWhiteList[key] track by $index">
									<input class="form-control"
										ng-model="identityProvidersFederation.categoryWhiteList[key][i]">
									<div class="input-group-btn">
										<button class="btn btn-default" type="button"
											data-ng-click="deleteOldValueCategoryWhiteList($index, key)">
											<span class="fa fa-minus"></span>
										</button>
									</div>
								</div>
							</td>
							<td> 
                                 <button class="btn btn-primary" data-ng-click="removeCategoryWhiteList(key)">{{:: 'delete' | translate}}</button>
                            </td>
                    </tr>
                    <tr>
                         <td><input ng-model="newCategoryWhiteList.key" class="form-control" type="text" id="newCategoryWhiteListKey" /></td>
							<td>
								<div class="input-group"
									ng-repeat="(i, item) in newCategoryWhiteList.value track by $index">
									<input class="form-control"
										ng-model="newCategoryWhiteList.value[i]">
									<div class="input-group-btn">
										<button class="btn btn-default" type="button"
											data-ng-click="deleteNewValueCategoryWhiteList($index)">
											<span class="fa fa-minus"></span>
										</button>
									</div>
								</div>
								<div class="input-group">
									<input class="form-control"
										ng-model="newCategoryWhiteListValue"
										id="newCategoryWhiteListValue">
									<div class="input-group-btn">
										<button class="btn btn-default" type="button" 
											data-ng-click="newCategoryWhiteListValue.length > 0 && addCategoryWhiteListValue()">
											<span class="fa fa-plus"></span>
										</button>
									</div>
								</div>
							</td>
							<td>
							    <button class="btn btn-primary"class="kc-action-cell" data-ng-click="addCategoryWhiteList()" data-ng-disabled="!newCategoryWhiteList.key.length || !newCategoryWhiteList.value.length">{{:: 'add' | translate}}</button>
							</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <kc-tooltip>{{:: 'whitelist.entityIds.tooltip'| translate}}</kc-tooltip>
            </div>
			


		</fieldset>
	  <fieldset>
            <legend collapsed><span class="text">{{:: 'blacklist' | translate}}</span>  <kc-tooltip>{{:: 'blacklist' | translate}}</kc-tooltip></legend>
			
			<div class="form-group">
				<label class="col-md-2 control-label" for="newEntityIdBlackList">{{::'list.entityIds' | translate}}</label>

				<div class="col-sm-6">
					<div class="input-group"
						ng-repeat="(i, item) in identityProvidersFederation.entityIdBlackList track by $index">
						<input class="form-control"
							ng-model="identityProvidersFederation.entityIdBlackList[i]">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"
								data-ng-click="deleteEntityIdBlackList($index)">
								<span class="fa fa-minus"></span>
							</button>
						</div>
					</div>

					<div class="input-group">
						<input class="form-control" ng-model="newEntityIdBlackList"
							id="newEntityIdBlackList">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"
								data-ng-click="newEntityIdBlackList.length > 0 && addEntityIdBlackList()">
								<span class="fa fa-plus"></span>
							</button>
						</div>
					</div>
				</div>

				<kc-tooltip>{{:: 'blacklist.entityIds.tooltip'| translate}}</kc-tooltip>
			</div>
			
			<div class="form-group">
				<label class="col-md-2 control-label" for="newRegistrationAuthorityBlackList">{{::'list.registrationAuthority' | translate}}</label>

				<div class="col-sm-6">
					<div class="input-group"
						ng-repeat="(i, item) in identityProvidersFederation.registrationAuthorityBlackList track by $index">
						<input class="form-control"
							ng-model="identityProvidersFederation.registrationAuthorityBlackList[i]">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"
								data-ng-click="deleteRegistrationAuthorityBlackList($index)">
								<span class="fa fa-minus"></span>
							</button>
						</div>
					</div>

					<div class="input-group">
						<input class="form-control" ng-model="newRegistrationAuthorityBlackList"
							id="newRegistrationAuthorityBlackList">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"
								data-ng-click="newRegistrationAuthorityBlackList.length > 0 && addRegistrationAuthorityBlackList()">
								<span class="fa fa-plus"></span>
							</button>
						</div>
					</div>
				</div>

				<kc-tooltip>{{:: 'blacklist.registrationAuthority.tooltip.tooltip'| translate}}</kc-tooltip>
			</div>
			
			<div class="form-group">
			<label class="col-md-2 control-label" for="categoryBlackList">{{::'entity.category' | translate}}</label>
			<div class="col-sm-6"  id="categoryBlackList">
			<table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{:: 'attribute.name' | translate}}</th>
                        <th>{{:: 'attribute.value' | translate}}</th>
                        <th>{{:: 'actions' | translate}}</th>
                   </tr>
                </thead>
                <tbody>
                     <tr ng-repeat="(key, value) in identityProvidersFederation.categoryBlackList | toOrderedMapSortedByKey">
                         <td>{{key}}</td>
					     <td>
								<div class="input-group"
									ng-repeat="(i, item) in identityProvidersFederation.categoryBlackList[key] track by $index">
									<input class="form-control"
										ng-model="identityProvidersFederation.categoryBlackList[key][i]">
									<div class="input-group-btn">
										<button class="btn btn-default" type="button"
											data-ng-click="deleteOldValueCategoryBlackList($index, key)">
											<span class="fa fa-minus"></span>
										</button>
									</div>
								</div>
							</td>
							<td> 
                                 <button class="btn btn-primary" data-ng-click="removeCategoryBlackList(key)">{{:: 'delete' | translate}}</button>
                            </td>
                    </tr>
                    <tr>
                         <td><input ng-model="newCategoryBlackList.key" class="form-control" type="text" id="newCategoryBlackListKey" /></td>
							<td>
								<div class="input-group"
									ng-repeat="(i, item) in newCategoryBlackList.value track by $index">
									<input class="form-control"
										ng-model="newCategoryBlackList.value[i]">
									<div class="input-group-btn">
										<button class="btn btn-default" type="button"
											data-ng-click="deleteNewValueCategoryBlackList($index)">
											<span class="fa fa-minus"></span>
										</button>
									</div>
								</div>
								<div class="input-group">
									<input class="form-control"
										ng-model="newCategoryBlackListValue"
										id="newCategoryBlackListValue">
									<div class="input-group-btn">
										<button class="btn btn-default" type="button" 
											data-ng-click="newCategoryBlackListValue.length > 0 && addCategoryBlackListValue()">
											<span class="fa fa-plus"></span>
										</button>
									</div>
								</div>
							</td>
							<td>
							    <button class="btn btn-primary"class="kc-action-cell" data-ng-click="addCategoryBlackList()" data-ng-disabled="!newCategoryBlackList.key.length || !newCategoryBlackList.value.length">{{:: 'add' | translate}}</button>
							</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <kc-tooltip>{{:: 'blacklist.entityIds.tooltip'| translate}}</kc-tooltip>   
            </div>         
		</fieldset>
		

		<div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button kc-save data-ng-disabled="changed==false">{{:: 'save' | translate}}</button>
                <button kc-cancel data-ng-click="cancel()">{{:: 'cancel' | translate}}</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>
