<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <kc-tabs-realm></kc-tabs-realm>

    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageRealm">
        <div class="form-group">
            <label class="col-md-2 control-label" class="control-label">{{:: 'claims_supported' | translate}}</label>
            <kc-tooltip>{{:: 'claims_supported.tooltip' | translate}}</kc-tooltip>

            <div class="col-sm-6">
                <div class="input-group"
                     ng-repeat="(i, item) in realm.claimsSupported track by $index">
                    <input class="form-control"
                           ng-model="realm.claimsSupported[i]">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button"
                                data-ng-click="deleteClaimsSupported($index)">
                            <span class="fa fa-minus"></span>
                        </button>
                    </div>
                </div>

                <div class="input-group">
                    <input class="form-control" ng-model="newClaimsSupported"
                           id="newClaimsSupported">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button"
                                data-ng-click="newClaimsSupported.length > 0 && addClaimsSupported()">
                            <span class="fa fa-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" data-ng-show="access.manageRealm">
            <div class="col-md-10 col-md-offset-2">
                <button kc-save  data-ng-disabled="!changed">{{:: 'save' | translate}}</button>
                <button kc-reset data-ng-disabled="!changed">{{:: 'cancel' | translate}}</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>